@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./_fonts.css";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.fadeIn {
  animation: fadeIn 300ms 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.spin {
  animation: spin 90s infinite linear;
}

.anim-delay-100 {
  animation-delay: 100ms;
}

.anim-delay-200 {
  animation-delay: 200ms;
}

.anim-delay-300 {
  animation-delay: 300ms;
}

body {
  @apply font-sans leading-relaxed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

p {
  @apply mb-3;
}

.link,
.md-container a {
  @apply underline text-blue-500;
}
